{% extends 'store/base.html' %}
{% block content %}
    <div class="container jumbotron py-4">
    <h1 class="display-4">Developers</h1>
    <hr class="my-4">
    <div class='card-deck'>
        <div class="card border-primary mb-3 text-white bg-secondary" style="max-width: 18rem;">
            <div class="card-header"><h3>Atharv Ganpatye</h3></div>
            
            <div class="card-body text-white">
                <h5 class="card-title">MIS: 111803050</h5>
                <h5 class="card-title">Div: 1</h5>
                <h5 class="card-title">Batch: T1</h5>
            </div>
        </div>
        <div class="card border-primary mb-3 text-white bg-secondary" style="max-width: 18rem;">
            <div class="card-header"><h3>Shubh Gohil</h3></div>
            <div class="card-body text-white">
                <h5 class="card-title">MIS: 111803052</h5>
                <h5 class="card-title">Div: 1</h5>
                <h5 class="card-title">Batch: T2</h5>
            </div>
        </div>
    </div>

    </div>
{% endblock content %}
  
